[flake8]
max-line-length = 120
ignore =
    # continuation line under-indented for hanging indent
    E121,
    # continuation line over-indented for hanging indent
    E126,
    # continuation line over-indented for visual indent
    E127,
    # continuation line unaligned for hanging indent
    E131,
