*.pyc
dico/
.DS_Store
*.egg-info/
.pytest_cache/
.eggs/

# specific
mirror_public_sdk_repo.sh
README_private_SDK.md
quotes/utils/
tmp/
data/
notes/
.ipynb_checkpoints/

examples/chat_quotes/
examples/chats_quotes/alt_scripts
examples/chats_quotes/results
