[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ab3e591" = {file = "file:///Users/amelie/src/greenkey-discovery-sdk/discovery_sdk_utils"}
"42ede32" = {file = "file:///Users/amelie/src/greenkey-discovery-sdk/gk_cli"}
requests = "*"
editdistance = "*"

[dev-packages]

[requires]
python_version = "3.6"
